# Ignore IDE
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Development
*.egg-info
.coverage

# OSMnx cache
**/cache/

# Jupyter Notebook
.ipynb_checkpoints

# outputs - add manually
results/*
tests/test_data/output/*