# Ignore IDE
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Development
*.egg-info
.coverage
docs/api/*
!docs/api/index.rst

# OSMnx cache
**/cache/

# GHSL population data
data/ghsl/*
*.tif
*.xlsx

# Jupyter Notebook
.ipynb_checkpoints

# outputs - add manually
data/*
tests/test_data/output/*
public/*
jupyter_execute/*
# logs
*.log
# graphs
*.graphml
# plots
*.pdf