[MASTER]

# Regular expression matching correct module names. Overrides module-naming-
# style. Additionally to snake case allows for an prepended 'yyyymmdd-' string.
module-rgx=(\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])-)?(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$