# Dependencies
osmnx
pyrosm
numba
tqdm
contextily
rasterstats
momepy  # only used in one reference notebook

# Editor
jupyterlab
jupyterlab_code_formatter

# Code Quality
blackd
isort
pylint

# Testing
pytest
pytest-cov
coverage

# Documentation
sphinx
numpydoc
myst-nb
sphinx-book-theme